In [18]:
import pymongo         # importing the required modules
client = pymongo.MongoClient("mongodb://localhost:27017/")      # Initiating a mongoclient instance
db1 = client["Tele_Diary"]   # Assign a db variable and creating database
my_col1.insert_one({"Name":"Prem","Phone Number": 1234567890,"Address":{"street": "Prem nagar","City":"Coimbatore","State":"TamilNadu"}})  # Inserting data into the collection
my_col1 = db1['Tele_Diary']   # Creating a collection in the database
for i in my_col1.find():    # Retrieving the data 
    print(i)

{'_id': ObjectId('63cf9f797c3cd1eb3a0c6484'), 'Name': 'Prem', 'Phone Number': 1234567890, 'Address': {'street': 'Prem nagar', 'City': 'Coimbatore', 'State': 'TamilNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6485'), 'Name': 'Gnana', 'Phone Number': 9876543210, 'Address': {'street': 'TNK Puram', 'City': 'Tirupur', 'State': 'TaminlNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6486'), 'Name': 'Nag', 'Phone Number': 3456789012, 'Address': {'street': 'RS Puram', 'City': 'Coimbatore', 'State': 'TaminlNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6487'), 'Name': 'Sriram', 'Phone Number': 8765432190, 'Address': {'street': 'Nilambur', 'City': 'Palakkad', 'State': 'Kerala'}}
{'_id': ObjectId('63cfa1257c3cd1eb3a0c6489'), 'Name': 'Prem', 'Phone Number': 1234567890, 'Address': {'street': 'Prem nagar', 'City': 'Coimbatore', 'State': 'TamilNadu'}}

In [7]:
# inserting many data in to the collection

my_col1.insert_one({"Name":"Gnana","Phone Number": 9876543210,"Address":{"street": "TNK Puram","City":"Tirupur","State":"TaminlNadu"}})
my_col1.insert_one({"Name":"Nag","Phone Number": 3456789012,"Address":{"street": "RS Puram","City":"Coimbatore","State":"TaminlNadu"}})
my_col1.insert_one({"Name":"Sriram","Phone Number": 8765432190,"Address":{"street": "Nilambur","City":"Palakkad","State":"Kerala"}})

In [19]:
for i in my_col1.find():    # Retrieving the data 
    print(i)

{'_id': ObjectId('63cf9f797c3cd1eb3a0c6484'), 'Name': 'Prem', 'Phone Number': 1234567890, 'Address': {'street': 'Prem nagar', 'City': 'Coimbatore', 'State': 'TamilNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6485'), 'Name': 'Gnana', 'Phone Number': 9876543210, 'Address': {'street': 'TNK Puram', 'City': 'Tirupur', 'State': 'TaminlNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6486'), 'Name': 'Nag', 'Phone Number': 3456789012, 'Address': {'street': 'RS Puram', 'City': 'Coimbatore', 'State': 'TaminlNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6487'), 'Name': 'Sriram', 'Phone Number': 8765432190, 'Address': {'street': 'Nilambur', 'City': 'Palakkad', 'State': 'Kerala'}}
{'_id': ObjectId('63cfa1257c3cd1eb3a0c6489'), 'Name': 'Prem', 'Phone Number': 1234567890, 'Address': {'street': 'Prem nagar', 'City': 'Coimbatore', 'State': 'TamilNadu'}}

In [20]:
my_col1.delete_one({"Name":'Prem'})

In [21]:
for i in my_col1.find():    # Retrieving the data 
    print(i)

{'_id': ObjectId('63cfa0747c3cd1eb3a0c6485'), 'Name': 'Gnana', 'Phone Number': 9876543210, 'Address': {'street': 'TNK Puram', 'City': 'Tirupur', 'State': 'TaminlNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6486'), 'Name': 'Nag', 'Phone Number': 3456789012, 'Address': {'street': 'RS Puram', 'City': 'Coimbatore', 'State': 'TaminlNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6487'), 'Name': 'Sriram', 'Phone Number': 8765432190, 'Address': {'street': 'Nilambur', 'City': 'Palakkad', 'State': 'Kerala'}}
{'_id': ObjectId('63cfa1257c3cd1eb3a0c6489'), 'Name': 'Prem', 'Phone Number': 1234567890, 'Address': {'street': 'Prem nagar', 'City': 'Coimbatore', 'State': 'TamilNadu'}}

In [24]:
mysearch= {"Phone Number":3456789012}  # Retriving the data of person that belongs to the particular phone number
A = my_col1.find(mysearch)
for x in A:
    print(x)

{'_id': ObjectId('63cfa0747c3cd1eb3a0c6486'), 'Name': 'Nag', 'Phone Number': 3456789012, 'Address': {'street': 'RS Puram', 'City': 'Coimbatore', 'State': 'TaminlNadu'}}

In [25]:
my_col1.update_one({"Name":"Sriram"},{"$set":{"Name":"Lakshmanan"}})     # Updating the data
for i in my_col1.find():
    print(i)

{'_id': ObjectId('63cfa0747c3cd1eb3a0c6485'), 'Name': 'Gnana', 'Phone Number': 9876543210, 'Address': {'street': 'TNK Puram', 'City': 'Tirupur', 'State': 'TaminlNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6486'), 'Name': 'Nag', 'Phone Number': 3456789012, 'Address': {'street': 'RS Puram', 'City': 'Coimbatore', 'State': 'TaminlNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6487'), 'Name': 'Lakshmanan', 'Phone Number': 8765432190, 'Address': {'street': 'Nilambur', 'City': 'Palakkad', 'State': 'Kerala'}}
{'_id': ObjectId('63cfa1257c3cd1eb3a0c6489'), 'Name': 'Prem', 'Phone Number': 1234567890, 'Address': {'street': 'Prem nagar', 'City': 'Coimbatore', 'State': 'TamilNadu'}}

In [26]:
my_col1.update_one({"Phone Number": 3456789012},{"$set":{"Name":"Prasad"}})     # Updating the data
for i in my_col1.find():
    print(i)

{'_id': ObjectId('63cfa0747c3cd1eb3a0c6485'), 'Name': 'Gnana', 'Phone Number': 9876543210, 'Address': {'street': 'TNK Puram', 'City': 'Tirupur', 'State': 'TaminlNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6486'), 'Name': 'Prasad', 'Phone Number': 3456789012, 'Address': {'street': 'RS Puram', 'City': 'Coimbatore', 'State': 'TaminlNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6487'), 'Name': 'Lakshmanan', 'Phone Number': 8765432190, 'Address': {'street': 'Nilambur', 'City': 'Palakkad', 'State': 'Kerala'}}
{'_id': ObjectId('63cfa1257c3cd1eb3a0c6489'), 'Name': 'Prem', 'Phone Number': 1234567890, 'Address': {'street': 'Prem nagar', 'City': 'Coimbatore', 'State': 'TamilNadu'}}

In [28]:
my_col1.delete_one({"Phone Number":8765432190})        # Deleting the data that belongs to a paricular phone number.
for i in my_col1.find():
    print(i)

{'_id': ObjectId('63cfa0747c3cd1eb3a0c6485'), 'Name': 'Gnana', 'Phone Number': 9876543210, 'Address': {'street': 'TNK Puram', 'City': 'Tirupur', 'State': 'TaminlNadu'}}
{'_id': ObjectId('63cfa0747c3cd1eb3a0c6486'), 'Name': 'Prasad', 'Phone Number': 3456789012, 'Address': {'street': 'RS Puram', 'City': 'Coimbatore', 'State': 'TaminlNadu'}}
{'_id': ObjectId('63cfa1257c3cd1eb3a0c6489'), 'Name': 'Prem', 'Phone Number': 1234567890, 'Address': {'street': 'Prem nagar', 'City': 'Coimbatore', 'State': 'TamilNadu'}}